<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div *ngFor="let persona of _infoservice.equipo" class="animated pulse delay-1s ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.titulo}}</p>
        <p  class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" style="text-align:center;">{{persona.frase}}</p>
        <a target="blanck" href="https://twitter.com/{{persona.url}}" class="ae-u-bolder au-underline">{{persona.twiter}}</a>
      </div>
      
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2" style="text-align:center;">
        <h4 class="ae-u-bolder" >COCODRILO'S HOME</h4>
        <p>COCODRILO'S HOME es una empresa independiente fundada en 1997, con más de 16 años de experiencia en desarrollo y venta de software, de opinión pública y sociales, dirigido a todo México.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1" >
      <div class="ae-grid__item--alt item-lg-4">
        <h5 class="ae-u-boldest" style="text-align:center;">Misión</h5>
        <p class="au-lh-3" style="text-align:justify;">Contribuir al desarrollo, inovación y al bienestar de las personas, poniendo a su disposición software de la mejor calidad para cualquier entorno o plataforma que desee implementar, ademas gestionamos proyectos de manera que faciliten el trabajo para empresas dentro de nuestro convenio.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h5 class="ae-u-boldest" style="text-align:center;">Visión</h5>
        <p class="au-lh-3" style="text-align:justify;">Ser líderes en el sector de desarrollo de software, con fuerte proyección internacional, basados en principios cooperativos y a través de software innovador que contribuyan a hayasgos en la tecnologia de manera global para cualquier entorno de programación.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h5 class="ae-u-boldest" style="text-align:center;">Valores</h5>
        <p class="au-lh-3" style="text-align:justify;">Trabajo en equipo, Capacitación permanente, Flexibilización y adaptación al cambio, Innovación permanente, Compromiso con la calidad, Orientación hacia el cliente y Responsabilidad Social Empresarial.</p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="#" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Visita nuestro PORTAFOLIO<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
  </div>